<!-- ====================================================================================== -->
  <!-- Header -->
  <!-- ====================================================================================== -->
  <div class="cls_header">
    <!-- ====================================================================================== -->
    <!-- encabezado -->
    <!-- ====================================================================================== -->
    <header class="container-fluid bg-danger d-flex justify-content-center header-first">
      <p class="text-light fw-bold m-0 p-2 fs-6">
        pia@hauspiaservicedapartments.com |  (+51) 959 30 75 83
      </p>
    </header>
    
    <!-- ====================================================================================== -->
    <!-- Navar -->
    <!-- ====================================================================================== -->
    <nav class="class_nav navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          Hotel
          <img src="Image/ciri.png" alt="" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ASD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DSA</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

  </div>
  