<div class="container row mt-3 justify-content-center">
    <div class="col-6">
        <h2>Clientes Listas</h2>
    <ul>
        <!-- podemos ingresar codigo JS  con "*" -->
        <li *ngFor="let variableDefinida of clientes ; let i = index;"
        >{{i+1}}-{{variableDefinida}}</li>

    </ul>

    <!-- una cadena de strin vacia es False -->
    <div *ngIf="clienteEliminado; else sinEliminar">
        <h2>Clientes Eliminados</h2>
        <ul>
            <li>{{clienteEliminado}}</li>
        </ul>
    </div>
    <ng-template #sinEliminar> 
        <h2>No se han eliminado clientes</h2>
    </ng-template>
    
    </div>
    <div class="col-8">
        <button type="button" class="btn btn-success ms-5" (click)="agregarClientes()">Agregar Cliente</button>
    <button type="button" class="btn btn-danger ms-5" (click)="eliminarCliente()">Eliminar Cliente</button>
    </div>
</div>


