<div class="d-flex" id="wrapper">
    

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid px-4 ">

          <!-- ======================================================================================
                                                PRODUCTOS
          ========================================================================================== -->
            <div class="row g-3 my-2">
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">{{ FollowUpData.room }}</h3>
                            <p class="fs-5">Room</p>
                        </div>
                        <i class="fas fa-bed fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">$ {{ FollowUpData.totalPrice }}</h3>
                            <p class="fs-5">Total price</p>
                        </div>
                        
                        <i
                            class="fas fa-money-check-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">$ {{ FollowUpData.totalRestaurant }}</h3>
                            <p class="fs-5"> Total restaurant</p>
                        </div>    
                                         
                        <i class="fas fa-utensils fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">{{ FollowUpData.userName }}</h3>
                            <p class="fs-5">User</p>
                        </div>
                        <i class="fas fa-user fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
            </div>
            <!-- ======================================================================================
                                                lista
          ========================================================================================== -->

            <div class="row my-5 justify-content-center">
                <h3 class="fs-4 mb-3">Recent Orders</h3>
                <div class="col-10 mt-5">
                    <table id="lista-tabla" class="table border-success ">
                        <thead>
                            <tr>
                                <th>Payment date</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Detail</th>
                            </tr>
                            <tr>
                                <td *ngFor="let variableDefinida of FollowUpData.seguimiento">
                                    {{variableDefinida}}
                                </td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                  </div>
            </div>

        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->